<div id="app"></div>
  <script async src="/lib/prism/prism.js"></script>
  {{#if isProduction}}
    <script async src="/bundle/main.js"></script>
  {{else}}
    <script async src="/main.js"></script>
  {{/if}}