<!DOCTYPE html>
<html>
  <head>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  	<link href="/suitup-toolkit.css"
      rel="stylesheet">
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
