.box {
    @import 'theme/box';
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    flex-wrap: wrap;

    .box-child {
        &.full-height {
            height: 100%;
        }
    }

    &.horizontal {
        flex-direction: row;
        .box-child {
            box-sizing: border-box;
        }
    }

    &.vertical {
        flex-direction: column;
        .box-child {
            box-sizing: border-box;
            width: 100%;
        }
    }

    &.fill-space {
        .box-child {
            flex-grow: 1;
        }
    }

    &.centered {
        justify-content: center;
    }

    &.left {
        justify-content: flex-start;
    }

    &.right {
        justify-content:flex-end;
    }

    &.align-start {
        align-items: flex-start;
    }

    &.align-end {
        align-items: flex-end;
    }

    &.align-center {
        align-items: center;
    }

    &.align-stretch {
        align-items: stretch;
    }

    &.align-baseline {
        align-items: baseline;
    }
    
    &.full-height {
        height: 100%;
    }
}