button {
    @import 'theme/button';
    color: @color;
    background-color: @backgroundColor;
    padding: @padding;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;

    &.transparent {
        background-color: transparent;
    }

    &.circular {
        border-radius: 50%;
        width: @width;
        height: @width;
        padding: 1rem;
    }
    &.rounded {
        border-radius: @borderRadius;
    }

}