header {
    @import 'theme/header';
    width: @width;
    height: @height;
    color: @color;
    background-color: @backgroundColor;
    opacity: @opacity;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    z-index: 99;
    
    &.fixed {
        position: fixed;
        left: 0;
        &.top {
            top: 0;
        }

        &.bottom {
            bottom: 0;
        }
    }

    button.menu-button {
        background: @backgroundColor;
        box-shadow: none;
        margin: 0;
        padding: 0;

        .light-frame {
            padding: 0 2rem;
            height: @height;
            line-height: @height;
        }

        i {
            line-height: @height;
            text-align: center;
        }
        
        &.pressed {
            background-color: rgba(0,0,0,0.5);
        }
    }

    &.is-mobile {
        height: @heightMobile;
        button.menu-button {
            .light-frame {
                padding: 0 1.5rem;
                height: @heightMobile;
                line-height: @heightMobile;
                i {
                    line-height: @heightMobile;
                    text-align: center;
                }                
            }
        }
    }
}